*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif; 
}

body{
    background-color: rgb(255, 255, 255);
}

.Home{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.c-player{
    display: block;
    background-color: black;
    padding: 50px;
    border-radius: 16px;
   /*  box-shadow: ; */
}

.c-player > h4 {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.c-player > p {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 50px auto;
}

.c-player--details .details-img img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
/*     box-shadow: ; */
}

.c-player--details .details-title {
    color: white;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details-artist {
    color: rgb(223, 236, 42);
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.c-player--control{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--control .play-btn{
    display: flex;
    margin-bottom: 0 30px;
    padding: 20px;
    border-radius: 50%;
   /*  box-shadow: ; */
    border: none;
    outline: none;
    background-color: grey;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.c-player--control .skip-btn{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    font-style: 18px;
}